body{
    background-color:#957186;
}
h1{
  text-align: center;
}

h3{
  text-align: center;
}

.border {
    border-radius: 25px;
    background-color:#CCBCBC;
    border: 3px solid #33202A;
    padding: 20px;
    margin: 40px;
}
